<div class="oc-category-top">
  <div class="category-title">OC</div>
  <img src="\assets\images\home\blog_element_07.png" alt="꾸밈">          
</div>
          <div class="category-container">
                <!-- OC 선택 시 표시될 목록 -->
                <div id="oc-categories" style="display: block;">
                  <ul class="category"></ul>
                  <li class="category-item" onclick="toggleCategory('oc')">
      <span id="oc-title">
        <span class="title-line">
        <span class="littleheart">♡</span><span class="categorybig"> Main</span></span>
        </span>
        <ul id="oc-sub" class="subcategory">
          <li onclick="selectSubcategory('/', 'oc')">
            <span id="oc-home">
              <span class="title-line">
              <span class="littleheart">♡</span>
              <span class="emoji"> 🌙</span>
              </span>
            </span>
          </li>
        </ul>
          </li>
                    <li class="category-item" onclick="toggleCategory('adeline')">
                        <span id="adeline-title"><span class="littleheart">♡</span><span class="categorybig"> Adeline Ross</span></span>
                        <ul id="adeline-sub" class="subcategory">
                            <li onclick="selectSubcategory('home', 'adeline')">
                              <span id="adeline-home">
                                <span class="title-line">
                                  <span class="littleheart">♡</span>
                                  <span class="emoji"> 🍷</span>
                                  </span>
                              </span>
                          </li>
                            <li onclick="selectSubcategory('info', 'adeline')">
                              <span id="adeline-info">
                                <span class="title-line">
                                  <span class="littleheart">♡</span>
                                  <span class="categorylittle"> Information</span>
                                  </span>
                              </span>
                              </li>
                            <li onclick="selectSubcategory('fiction', 'adeline')">
                              <span id="adeline-fiction">
                                <span class="title-line">
                                <span class="littleheart">♡</span>
                                  <span class="categorylittle"> Fiction</span>
                                  </span>
                              </span>
                              </li>
                            <li onclick="selectSubcategory('picture', 'adeline')">
                              <span id="adeline-picture">
                                <span class="title-line">
                                <span class="littleheart">♡</span>
                                  <span class="categorylittle"> Picture</span>
                                  </span>
                              </span>
                              </li>
                            <li onclick="selectSubcategory('tea', 'adeline')">
                              <span id="adeline-tea">
                                <span class="title-line">
                                <span class="littleheart">♡</span>
                                  <span class="categorylittle"> Black rose</span>
                                  </span>
                              </span>
                            </li>
                            <li onclick="selectSubcategory('cm', 'adeline')">
                              <span id="adeline-cm">
                                <span class="title-line">
                              <span class="littleheart">♡</span>
                                  <span class="categorylittle"> CM</span>
                                  </span>
                              </span>
                            </li>
                            <li onclick="selectSubcategory('trpg', 'adeline')">
                              <span id="adeline-trpg">
                                <span class="title-line">
                              <span class="littleheart">♡</span>
                                  <span class="categorylittle"> TRPG</span>
                                  </span>
                              </span>
                           </li>
                            <li onclick="selectSubcategory('relation', 'adeline')">
                              <span id="adeline-relation">
                                <span class="title-line">
                              <span class="littleheart">♡</span>
                                  <span class="categorylittle"> Relationship</span>
                                  </span>
                              </span>
                           </li>
                        </ul>
                    </li>
            
                    <li class="category-item" onclick="toggleCategory('vanessa')">
                      <span id="vanessa-title">
                        <span class="title-line">
                        <span class="littleheart">♡</span><span class="categorybig"> Vanessa White</span></span>
                        </span>
                      <ul id="vanessa-sub" class="subcategory">
                          <li onclick="selectSubcategory('home', 'vanessa')">
                            <span id="vanessa-home">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="emoji"> 🦋</span>
                                </span>
                            </span>
                        </li>
                          <li onclick="selectSubcategory('info', 'vanessa')">
                            <span id="vanessa-info">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Information</span>
                                </span>
                            </span>
                            </li>
                          <li onclick="selectSubcategory('fiction', 'vanessa')">
                            <span id="vanessa-fiction">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Fiction</span>
                                </span>
                            </span>
                            </li>
                          <li onclick="selectSubcategory('picture', 'vanessa')">
                            <span id="vanessa-picture">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Picture</span>
                                </span>
                            </span>
                            </li>
                          <li onclick="selectSubcategory('tea', 'vanessa')">
                            <span id="vanessa-tea">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Butterfly pea</span>
                                </span>
                            </span>
                          </li>
                          <li onclick="selectSubcategory('cm', 'vanessa')">
                            <span id="vanessa-cm">
                              <span class="title-line">
                            <span class="littleheart">♡</span>
                                <span class="categorylittle"> CM</span>
                                </span>
                            </span>
                          </li>
                          <li onclick="selectSubcategory('trpg', 'vanessa')">
                            <span id="vanessa-trpg">
                              <span class="title-line">
                            <span class="littleheart">♡</span>
                                <span class="categorylittle"> TRPG</span>
                                </span>
                            </span>
                         </li>
                          <li onclick="selectSubcategory('relation', 'vanessa')">
                            <span id="vanessa-relation">
                              <span class="title-line">
                            <span class="littleheart">♡</span>
                                <span class="categorylittle"> Relationship</span>
                                </span>
                            </span>
                         </li>
                      </ul>
                  </li>
            
                  <li class="category-item" onclick="toggleCategory('kalina')">
                      <span id="kalina-title">
                        <span class="title-line">
                        <span class="littleheart">♡</span><span class="categorybig"> Kalina Heloise</span></span>
                        </span>
                      <ul id="kalina-sub" class="subcategory">
                          <li onclick="selectSubcategory('home', 'kalina')">
                            <span id="kalina-home">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="emoji"> 🎙</span>
                                </span>
                            </span>
                        </li>
                          <li onclick="selectSubcategory('info', 'kalina')">
                            <span id="kalina-info">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Information</span>
                                </span>
                            </span>
                            </li>
                          <li onclick="selectSubcategory('fiction', 'kalina')">
                            <span id="kalina-ficcion">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Fiction</span>
                                </span>
                            </span>
                            </li>
                          <li onclick="selectSubcategory('picture', 'kalina')">
                            <span id="kalina-picture">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Picture</span>
                                </span>
                            </span>
                            </li>
                          <li onclick="selectSubcategory('tea', 'kalina')">
                            <span id="kalina-tea">
                              <span class="title-line">
                              <span class="littleheart">♡</span>
                                <span class="categorylittle"> Fleur de Jasmin</span>
                                </span>
                            </span>
                          </li>
                          <li onclick="selectSubcategory('cm', 'kalina')">
                            <span id="kalina-cm">
                              <span class="title-line">
                            <span class="littleheart">♡</span>
                                <span class="categorylittle"> CM</span>
                                </span>
                            </span>
                          </li>
                          <li onclick="selectSubcategory('trpg', 'kalina')">
                            <span id="kalina-trpg">
                              <span class="title-line">
                            <span class="littleheart">♡</span>
                                <span class="categorylittle"> TRPG</span>
                                </span>
                            </span>
                         </li>
                          <li onclick="selectSubcategory('relation', 'kalina')">
                            <span id="kalina-relation">
                              <span class="title-line">
                            <span class="littleheart">♡</span>
                                <span class="categorylittle"> Relationship</span>
                                </span>
                            </span>
                         </li>
                      </ul>
                  </li>
                </div>
              </div>