<nav class="tab-menu-wrapper">
    <div class="tab-menu">
        <a href="/" class="tab {% if page.url == '/' %} active{% endif %}">
          <span class="tab-label">Home</span>
          <div class="star-icon-cat"></div>
        </a>
        <a href="/info.html" class="tab {% if page.url contains '/notice/'== '/info.html' %} active{% endif %}">
          <span class="tab-label">Info</span>
          <div class="star-icon-cat"></div>
        </a>
        <a href="/notice.html" class="tab {% if page.url contains '/notice/'== '/notice.html' %} active{% endif %}">
          <span class="tab-label">Notice</span>
          <div class="star-icon-cat"></div>
        </a>
        <a href="/oc.html" class="tab {% if page.url contains '/oc/' %} active{% endif %}" onclick="switchCategory('oc')">
          <span class="tab-label">OC</span>
          <div class="star-icon-cat"></div>
        </a>
        <a href="/gallery.html" class="tab {% if page.url contains '/gallery/' %} active{% endif %}">
          <span class="tab-label">Gallery</span>
          <div class="star-icon-cat"></div>
        </a>
        <a href="/dnd.html" class="tab {% if page.url contains '/dnd/' %} active{% endif %}" onclick="switchCategory('dnd')">
          <span class="tab-label">DnD</span>
          <div class="star-icon-cat"></div>
        </a>
        <a href="/secret.html" class="tab {% if page.url contains '/secret/' %} active{% endif %}">
          <span class="tab-label">Locked</span>
          <div class="star-icon-cat"></div>
        </a>
      </div>
    </nav>