    /* 공통 레이아웃 */
    html, body{
      overflow-x: hidden;   /* 가로 스크롤 제거 */
      overflow-y: auto;       /* 세로 스크롤만 허용 */
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    img, iframe, video {
      max-width: 100%;
      height: auto;
      display: block;
    }

    body {
        font-family: "TrajanPro", serif;
        background: #fff9ef;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center; /* 중앙 정렬 */
    }

    :lang(ko){
        font-family: "Nanum Myeongjo", serif;
    }  

    :lang(.emoji){
      font-family: "Noto Emoji", sans-serif;
    }

    .container {
      flex: 1;
      padding: 40px 0;           /* 🔽 본문도 왼쪽에서 시작하게 */
    }

    /*건들지마라여기는진짜완성된곳이다*/
    .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff9ef;
      padding: 20px 0;
    }
    
    /*건들지마라여기는진짜완성된곳이다*/
   /* 로고 영역 */
    .logo-area {
      display: flex;
      margin-bottom: 10px; /* 헤더 이미지와 겹치게 조정 */
      z-index: 20; /* 헤더 이미지보다 위에 보이게 */
      justify-content: flex-start;
      align-items:center;
    }
    
    /*건들지마라여기는진짜완성된곳이다*/
    .logo-img {
      width: 200px;
      height: auto;
      display: block;
    }

    .logo-link {
      display: inline-block;
    }
    

    /*건들지마라여기는진짜완성된곳이다*/
    /* 헤더 이미지 영역 */
    .header-area {
      width: 100%;
      max-width: 1200px;
      aspect-ratio: 3 / 1;
      overflow: hidden;
      margin-top: 10px;
      justify-content: center;
    }

    /*건들지마라여기는진짜완성된곳이다*/
    .header-image {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    /* 메인 레이아웃 */
    .wrapper {
      padding-bottom: 15;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 1200px;
      width: 100%;
      gap: 40px;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
    }

    /* 사이드바 */
    .sidebar {
      width: 250px;
      background: #fff9ef;
      padding: 20px;
      text-align: center;
      flex-shrink: 0;
      position: relative;
      margin-left: 0;
    }

    /* 사이드바 프로필 스타일 */
    .profile {
    text-align: center;
    padding: 20px;
    }

    /* 프로필 이미지 스타일 */
    .profile-img {
    width: 200px; /* 사이드바 크기에 맞게 조절 (원하는 크기로 변경 가능) */
    height: 200px;
    border-radius: 50%; /* 동그랗게 만들기 */
    object-fit: cover; /* 이미지를 원형 안에 꽉 차게 맞춤 */
    border: 3px solid #C89FA5; /* 원하는 테두리 색상 */
    }

    
    /*건들지마라여기는진짜완성된곳이다*/
    /* 헤더 */
    .header {
        align-items: center; /* 중앙 정렬 */
        text-align: center;
        font-size: 24px;
        padding: 20px;
    }   

  /* 모바일 */
  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      padding: 0 20px;
      align-items: center;
    }
  
    .sidebar {
      width: 100%;
      max-width: 400px;
    }
  
    .content-box {
      max-width: 100%;
      padding: 40px 20px;
    }
  
    .tab-menu-wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .tab {
      width: 70px;
      font-size: 14px;
    }
  
    .tab-label {
      font-size: 14px;
    }
  }

/*꾸밈요소들*/
  /*폰트*/
  @font-face {
    font-family: "Cafe24 Decoschool";
    src: url("https://db.onlinewebfonts.com/t/45234b09a6a1e2d3b152b57ffbc54670.eot");
    src: url("https://db.onlinewebfonts.com/t/45234b09a6a1e2d3b152b57ffbc54670.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/45234b09a6a1e2d3b152b57ffbc54670.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/45234b09a6a1e2d3b152b57ffbc54670.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/45234b09a6a1e2d3b152b57ffbc54670.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/45234b09a6a1e2d3b152b57ffbc54670.svg#Cafe24 Decoschool")format("svg");
}
  
  @font-face {
    font-family: "Quinsi";
    src: url("https://db.onlinewebfonts.com/t/d7bbdd86af5949df51ce65421ef82fa8.eot");
    src: url("https://db.onlinewebfonts.com/t/d7bbdd86af5949df51ce65421ef82fa8.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d7bbdd86af5949df51ce65421ef82fa8.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d7bbdd86af5949df51ce65421ef82fa8.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d7bbdd86af5949df51ce65421ef82fa8.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d7bbdd86af5949df51ce65421ef82fa8.svg#Quinsi")format("svg");
  }
  
  @font-face {
    font-family: "TrajanPro-Regular";
    src: url("https://db.onlinewebfonts.com/t/c07d5c6528b6cc0eac08afd7a3199657.eot");
    src: url("https://db.onlinewebfonts.com/t/c07d5c6528b6cc0eac08afd7a3199657.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c07d5c6528b6cc0eac08afd7a3199657.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c07d5c6528b6cc0eac08afd7a3199657.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c07d5c6528b6cc0eac08afd7a3199657.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c07d5c6528b6cc0eac08afd7a3199657.svg#TrajanPro-Regular")format("svg");
}

  @font-face {
    font-family: "Breathing Personal Use";
    src: url("https://db.onlinewebfonts.com/t/ca9698e55069c3859da5c293ca67a325.eot");
    src: url("https://db.onlinewebfonts.com/t/ca9698e55069c3859da5c293ca67a325.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ca9698e55069c3859da5c293ca67a325.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ca9698e55069c3859da5c293ca67a325.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ca9698e55069c3859da5c293ca67a325.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ca9698e55069c3859da5c293ca67a325.svg#Breathing Personal Use")format("svg");
}
  
  /*특정 문자 꾸밈*/
  .heart {
    font-family: 'Cafe24 Decoschool', serif; /* 하트 특수문자용 폰트 */
    font-weight: normal;
  }
  
  .littleheart {
    font-family: 'Cafe24 Decoschool', serif; /* 하트 특수문자용 폰트 */
    font-weight: normal;
    font-size: 30px;
    color:black
  }
  
  .bigheart {
    font-family: 'Cafe24 Decoschool', serif; /* 하트 특수문자용 폰트 */
    font-weight: normal;
    font-size: 40px;
  }
  
  p {
    font-family: 'TrajanPro-Regular', serif; /* 일반 텍스트용 폰트 */
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
  }
  
  /* 대분류 선택 시 핑크색 */
  .category-item.selected > #oc-title .title-line,
  .category-item.selected > #adeline-title .title-line,
  .category-item.selected > #vanessa-title .title-line,
  .category-item.selected > #kalina-title .title-line {
    color: #D8AAAD;
  }
  
  /* 소분류 선택 시 핑크색 */
  .subcategory span.selected .title-line {
    color: #D8AAAD;
  }
  
  .category-item span.selected .title-line{
    color: #D8AAAD;
  }
  
    /* 소분류가 선택된 경우 */
    .subcategory .selected .categorylittle,
    .subcategory .selected .emoji,
    .subcategory .selected .littleheart {
      color: #D8AAAD;
    }

  .category-title {
    font-family: 'Quinsi', serif; /* 카테고리 텍스트 */
    font-size: 40px;
    font-weight: normal;
    position: absolute;
    text-align: center;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: 13px;
  }
  
  .categorybig {
    font-family: 'TrajanPro-Regular', serif; /* 대분류 */
    font-size: 24px;
    font-weight: normal;
    color:black;
    margin-bottom: 2px;
  }
  
  .categorylittle {
    font-family: 'TrajanPro-Regular', serif; /* 소분류 */
    font-size: 20px;
    font-weight: normal;
    color:black;
    margin-bottom: 2px;
  }
  
  /* 전체 구조 - 한 줄 정렬 */
  .category-item span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

    /* 나머지 검정 */
    .title-line {
      color: black;
    }



  /* 제목 스타일 */
  .title {
    font-family: 'Breathing Personal Use', serif; /* 제목 폰트 */
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  /*제목*/
  .oc-title-font{
  font-family: 'Breathing Personal Use', serif;
  font-size: 60px;
  font-weight: normal;
}

  .emoji{
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}
  
  .tab{
    font-family: 'Quinsi', serif;
    font-size: 30px;
  }
  .tab-label{
    font-family: 'Quinsi', serif;
    font-size: 25px;
    font-weight: normal;
  }
  