/* 푸터 */
footer {
    background: #D8AAAD;
    color: white;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }

  .foot{
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .foot img {
    margin-top: 90px;
    width: 2%;
    max-width: 2%;
    height: auto;
    position: relative;
    text-align: center;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .foot-font {
    font-family: 'TrajanPro-Regular', serif; /* 일반 텍스트용 폰트 */
    color:white;
    font-weight: normal;
    font-size: 14px;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
  }