/* ν‘Έν„° */
footer {
    background: #D8AAAD;
    color: white;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
  }

  .foot{
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .foot img {
    margin-top: 75px;
    width: 3%;
    max-width: 3%;
    height: auto;
    position: relative;
    text-align: center;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    padding: 10px;
  }