.gallery img {
    width: 200px; /* 이미지 크기 조절 */
    height: auto;
    margin: 10px;
    transition: opacity 0.3s ease-in-out;
}

.filter button {
    background-color: #f8d7da;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.filter button:hover {
    background-color: #f5c6cb;
}