 /* 공통 레이아웃 */
body {
  font-family: "Cormorant Garamond", serif;
  background: #ebe7e1;
  margin: 0;
  padding: 0;
}

/* 헤더 */
.header-container {
  position: fixed;
  width: 100%;
  background: #ebe7e1;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

/* 메뉴바 */
.menu-bar ul {
  display: flex;
  justify-content: center;
  background: #EACACB;
  padding: 10px;
}

.menu-bar ul li {
  list-style: none;
  margin: 0 10px;
}

.menu-bar ul li a {
  text-decoration: none;
  font-weight: bold;
}

/* 사이드바 */
.sidebar {
  width: 250px;
  background: #FFF5E1;
  padding: 20px;
  border-radius: 10px;
}

/* 본문 */
.content {
  flex-grow: 1;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

/* 푸터 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #d69a9b;
  color: white;
  text-align: center;
  padding: 10px;
}
