.category {
  list-style: none;
  padding-top: 20px;
}

/* 카테고리 스타일 */
.category h4 {
  font-size: 20px;
  text-align: center;
}

.category ul {
  list-style: none;
  padding: 0;
}

.category li {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.category .active {
  font-weight: bold;
  color: #d69a9b;
}  

.oc-hero {
  flex-direction: column;
  position: relative;
  text-align: center;
  align-items: center;
  padding: 20px;
}

/*oc컨테이너 스타일*/
.oc-categories{
  position: relative;
  text-align: left;
  align-items: center;
}

.sidecategory-container {
  padding-top: 50px;
  text-align: center;
  align-items: center;
}

/*버튼 들어가는 곳 스타일*/
.character-buttons{
  align-items: flex-start;
}

.category:empty {
  display: none;
}

.category-item {
  cursor: pointer;
  font-weight: bold;
}

.subcategory li {
  cursor: pointer;
}

.category-container{
  display: block;
  padding-top: 40px;
  align-items: flex-start;
}


.subcategory {
  list-style: none;
  padding-left: 20px;
  display: none; /* 기본적으로 숨김 */
}

.subcategory li {
  cursor: pointer;
}

.character-link {
  display: inline-block;
}

/*라인 스타일과 위치*/
.star-line-img-oc {
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  padding: 10px;
  margin-top: 100px;
}
  /* Adeline 버튼 */
  /*버튼 스타일*/
  .character-buttons-img{
    position: relative;
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 90px 20px 20px 20px;
  }

  /*버튼이미지*/
  .adeline-button{
    position: absolute;
    width: 630;
    height: 1390;
    background-image: url('assets/images/ocui/blog_oc_ar_btn.png');
    background-size: contain;
    background-repeat: no-repeat;
  }